---
import '../styles/_styles.css';
import { Image } from 'astro:assets';

// Import icons
import icon16 from '../assets/icons/icon.png';
import icon32 from '../assets/icons/Icon-72.png';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<link rel="icon" type="image/png" sizes="16x16" href={icon16.src}>
	<link rel="icon" type="image/png" sizes="32x32" href={icon32.src}>
	<!-- Styles are imported via Astro import -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,600&display=swap" rel="stylesheet">
	<title>{title}</title>
</head>
<body class="skapari">
<slot />
<script type="text/javascript" src={`${import.meta.env.BASE_URL}js/jquery.min.js`}></script>
<script type="text/javascript" src={`${import.meta.env.BASE_URL}js/fslightbox.js`}></script>
<script type="text/javascript" src={`${import.meta.env.BASE_URL}js/bootstrap.bundle.js`}></script>
<script type="text/javascript" src={`${import.meta.env.BASE_URL}js/all.js`}></script>
<script type="text/javascript" src={`${import.meta.env.BASE_URL}js/app.js`}></script>
</body>
</html>